.jobcontainer{
    background-color:#70a9cc;
    width: 100%;
}

.fileinput{
    height: 100px;
     background-color: #bf944b;
      fill-opacity: 60%; vertical-align: middle;
}

.inputbutton{
    background-color: white; height: 40px;
}

.chart{
     padding-top:20px;
}

div.tooltip {	
    position: relative;			
    text-align: center;			
    width: 80px;					
    height: 60px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.table {
    position: absolute;	
    margin:auto;
    text-align: center;
    table-layout: fixed;
 
}

table, tr,td {
    padding :20px;
    margin-bottom: 10px;
    color: white;
    border:1px solid #30302f;
    border-collapse: collapse;
    font-size :15 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(top,#b36909 0%, #8f5a00 100%);
    background:-webkit-linear-gradient(top,#b36909 0%, #8f5a00 100%);
}

td:hover{
    background: #4d473e ;
}

.checkbox{
    margin-top:-300;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }

  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .maintabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #innerrect{
    background-color: whitesmoke;
  }

  .disp {
    display:inline-block;
  }
